@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #7065f0;
  --background-inputs: #f7f7fd;
  --border-inputs: #e0def7;
  --primary-font-color: #000929;
  --secondary-font-color: #6c727f;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}



/* variables */
